@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

header {
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.icon__exit {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(10px);
}

.icon__exit i {
    font-size: 20px;
    left: 1400px;
    cursor: pointer;
    position: absolute;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: rgb(196, 50, 58);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid rgb(196, 50, 58);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


/*Ocultar scroll*/

.menu__side::-webkit-scrollbar {
    display: none;
}

.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}


/*clases para usar en JS*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}

@media screen and (max-width:760px) {
    .body_move {
        margin-left: 0px;
    }
    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}


/*Algo mas para el formulario*/

.container_admin {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    position: relative;
    background-color: rgb(245, 245, 245);
    padding-bottom: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}

.container_admin form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f3ecec;
    font-size: 16px;
    outline: none;
    align-content: center;
}

.container_admin .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%-50px);
}

.container_admin h1 {
    /*color: #db616b;*/
    font-family: 'Roboto', sans-serif;
    color: rgb(196, 50, 58);
    font-size: 28px;
    width: 100%;
    padding: 55px 0 40px;
    text-align: center;
}

.itext {
    width: 250px;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(145, 139, 139);
    outline: none;
    height: 20px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.itext:hover {
    border-bottom: 2px solid rgb(196, 50, 58);
}

.btnRegistrar {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #db616b;
    color: rgb(201, 84, 84);
    cursor: pointer;
    outline: none;
}

.btnRegistrar:hover {
    transition: .9s ease all;
    transition-delay: 0.1s;
    background-color: rgb(196, 50, 58);
    color: rgb(240, 234, 234);
    cursor: pointer;
}

.container__Tabla {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    position: relative;
    flex-direction: column;
    box-shadow: 8px 8px 5px 0px #bdbdbdbf;
    background-color: #ecd7d7;
    border-radius: 30px;
}

.tabla__header {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 55px 0 40px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0;
}

button {
    border: none;
    margin-top: 20px;
    background-color: #ce5b64;
    color: #ffff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #d88f9d;
}

table {
    word-spacing: 20px;
    border-spacing: 0;
    margin-top: 1rem;
}

thead {
    background-color: #dd7b7b;
}

th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

#icons {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #020202;
}

.container__Tabla .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -10px;
    right: calc(50%-230px);
}